.jj-quizzes-main-screen {
  margin-left: 65px;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 900px;
}

.jj-green {
  color: green;
}

.jj-red {
  color: red;
}

.jj-green-left-border {
  border-left: 3px solid green;
}

.jj-thin-bottom-border {
  border-bottom: 1px solid lightgray;
}

.jj-thin-right-border {
  border-right: 1px solid lightgray;
}

.jj-quiz-group-header {
	border: 1px solid lightgray;
	background-color: #f9f9f9;
}

.jj-right-justified-list {
	text-align: right;
	min-width: 340px;
}

.jj-detail-value-list {
	min-width: 200px;
}

.jj-popup-menu {
	border-radius: 5px;
	border: 1px solid lightgray;
}

.jj-red-div {
	background-color: #ffcccc;
	border: 1px solid red;
}
